/*
 * PrestaCart
 * @version  1.0
 *
 * @author Hashem Afkhami @ prestayar.com <hashem_afkhami@yahoo.com>
 * @copyright  2014 prestayar.com

 *
 */

.PSCart input:focus, .PSCart select:focus, .PSCart textarea:focus {
	border: 1px solid #d35400;
}

.PSCart input.btn, .PSCart a.btn, .PSCart input[type=submit] {
	background: #e67e22;
}

.PSCart input.btn:hover, .PSCart a.btn:hover {
	background: #d35400;
}

.PSCart .big-title {
	border-bottom: 3px double #e74c3c;
}

.PSCart .big-title:after {
	background: #e74c3c;
}

.PSCart thead {
	background: #34495e;
}
.PSCart .cart_quantity_input {
	background: #2c3e50;
}

.PSCart .cart_quantity_down, .PSCart .cart_quantity_up {
	background: #34495e;
}

.PSCart td.cart_total span {
	color: #e67e22;
}

.PSCart td.cart_delete a, .PSCart .price_discount_del a {
	background: #e74c3c;
}

.PSCart td.cart_delete a:hover {
	background: #c0392b;
}

.PSCart .choose {
	background: #e74c3c;
}


.PSCart .choose .btn {
	background: #2c3e50;
	color: #fff;
}

.PSCart .choose .btn:hover {
	background: #34495e;
}

.PSCart .discount {
	background: #2c3e50;
}

.PSCart .total_price_container {
	background: #c0392b;
}

.PSCart .discount_name_block input {
	background: rgba(0,0,0,0.3);
}

.PSCart .tabhead {
	border-bottom: 5px solid #34495e;
	background: #2c3e50;
}

.PSCart .tabhead.active {
	background: #34495e;
}

.PSCart #step3 td.price {
	background: #e67e22;
}
.PSCart .dbs-steps .prev:hover a,
.PSCart .dbs-steps .next:hover a{
	color:#E74C3C;
}
.PSCart #HOOK_SHOPPING_CART .msg.error{
	color:#fff;
}